<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table">
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mt-3" *ngIf="!isLoading">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Students.StudentTitle'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Students.StudentTitleSingular'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="btn-group" *ngIf="this.table && this.table.selectable">
        <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="btn btn-outline-indigo btn-lg" type="button"
                [translate]="'Students.Actions'">

        </button>
        <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.CalculateSemester'" (click)="calculateSemester()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.ChangeProgram'" (click)="changeStudyProgram()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.ChangeSpecialty'" (click)="changeSpecialty()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.AddProgramGroup'" (click)="addProgramGroup()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.RequestDocument'" (click)="addDocumentRequest()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.CheckScholarshipRules'" (click)="checkScholarshipRules()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.AddStudentCounselor'" (click)="addStudentCounselor()">Open</button>
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.AddDepartmentSnapshot'" (click)="addDepartmentSnapshot()">Open</button>
          <!-- elot conversion only has meaning if default locale is el -->
          <button *ngIf="defaultLocale && defaultLocale === 'el'"[disabled]="!(this.table && this.table.selected && this.table.selected.length)" class="dropdown-item"   [translate]="'Students.ConvertToElot'" (click)="convertToElot()">Convert names to elot</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
          <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4">
      <app-advanced-table #table [height]="600" (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
