<div class="row mt-4">
  <div class="col">
    <app-students-courses-by-group></app-students-courses-by-group>
  </div>
  <!-- <div class="col-lg-3 col-md-4 col-12">
    <app-students-stats [studentId]="studentId" [showMore]="showMore"></app-students-stats>
  </div> -->
</div>

