<div *ngIf="actions && actions.length">
  <div class="card">
    <div class="card-body ">

      <div class="row ml-auto my-auto">
        <h5 [translate]="'StudyPrograms.CopyActions'" class="mr-3 my-auto"></h5>
      </div>

      <div id="group-list" class="flex-column">
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'StudyPrograms.CopyAction'"></div>
            </div>
          </li>
        </ul>
        <ul class="sis--list-group sis--list-group-body">
          <div *ngFor="let action of actions">
            <div>
              <li class="sis--list-group-item">
                <div class="d-flex justify-content-center align-items-center list-color">
                  <div class="sis--list-group-item_lg_column d-none d-sm-block "><span class="text-secondary">{{action.startTime | localizedDate: 'short'}}</span></div>
                  <div class="sis--list-group-item_lg_column"><span class="text-secondary">{{action.createdBy.alternateName}}</span></div>
                  <div class="sis--list-group-item_lg_column"><span>
                      <span
                        [ngClass]="{'text-purple': action.actionStatus.alternateName ==='ActiveActionStatus',
                                  'text-danger': action.actionStatus.alternateName === 'CancelledActionStatus',
                                  'text-decoration-none': action.actionStatus.alternateName ==='CompletedActionStatus'}">
                        {{'StudyPrograms.CopyActionsTypes.' + action.actionStatus.alternateName | translate}}
                      </span>
                    </span></div>
                  <div class="sis--list-group-item_lg_column d-none d-sm-block "><span class="text-secondary">{{action.endTime | localizedDate: 'short'}}</span></div>
                  <div class="sis--list-group-item_lg_column">
                  <span class="text-secondary" *ngIf="action.result">
                    <a [routerLink]="['/study-programs', action.result?.id, 'preview', 'general']">
                    {{action.result.name}}
                  </a>
                  </span></div>

                </div>
              </li>
            </div>
          </div>
        </ul>
      </div>

    </div>
  </div>
</div>
