<div *ngIf="enrollmentEvent">

  <div class="card">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Candidates.RequestPeriod'"></h5>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="row">
        <div class="col">{{ 'Candidates.ValidFrom' | translate }} {{ (enrollmentEvent?.validFrom | date:'shortDate') || '-' }}
        {{ 'Candidates.ValidThrough' | translate }} {{ (enrollmentEvent?.validThrough | date:'shortDate') || '-' }}</div>
      </div>
      <div class="row pt-2">
        <div class="col">{{ 'Candidates.StudyProgram' | translate }}
           {{ enrollmentEvent?.studyProgram?.name}}</div>
      </div>
   </div>
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Candidates.SubmissionDocuments'"></h5>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="form-group text-dark">
        <div *ngIf="enrollmentEvent?.attachmentTypes?.length > 0" id="group-list"  class="flex-column">
          <ul class="sis--list-group sis--list-group-body">
            <li class="sis--list-group-item" *ngFor="let attachment of enrollmentEvent?.attachmentTypes">
              <div class="d-flex justify-content-center align-items-center list-color">
                <div class="sis--list-group-item_lg_column d-block "><span class="text-dark">{{ attachment?.attachmentType?.name }}</span></div>
              </div>
            </li>
          </ul>
        </div>
        <div *ngIf="enrollmentEvent?.attachmentTypes?.length === 0" id="group-list"  class="flex-column">
          <div class="col-auto text-dark pl-3">
            <span [translate]="'Candidates.NoDocuments'"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Candidates.InscriptionModes'"></h5>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="form-group text-dark">
        <div *ngIf="enrollmentEvent?.inscriptionModes?.length > 0" id="group-list"  class="flex-column">
          <ul class="sis--list-group sis--list-group-body">
            <li class="sis--list-group-item" *ngFor="let inscriptionMode of enrollmentEvent?.inscriptionModes">
              <div class="d-flex justify-content-center align-items-center list-color">
                <div class="sis--list-group-item_lg_column d-block "><span class="text-dark">{{ inscriptionMode.name }}</span></div>
              </div>
            </li>
          </ul>
        </div>
        <div *ngIf="enrollmentEvent?.inscriptionModes?.length === 0" id="group-list"  class="flex-column">
          <div class="col-auto text-dark pl-3">
            <span [translate]="'Candidates.AllInscriptionModes'"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
